/* Стили для таблицы */
table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

/* Стили для заголовков таблицы */
th {
    background-color:#a0a0a0;
    border: thin solid #b0b0b0;
    padding: 12px;
    text-align: center;
}

/* Стили для ячеек таблицы */
td {
    padding: 5px;
    border: thin solid #b0b0b0;
}

/* Стили для строк таблицы */
tr {
    background-color: #f2f2f2;
}

/* Стили для строки при наведении */
tr:hover {
    background-color: #ddd;
}

form {
    margin: 5px;
}




span {
    display: inline-block;
    margin-right: 10px;
}

span h3 {
    margin: 0;
    text-align: center;
}

.main_filter {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}
