.menu {
    display: inline;
    
    float: right;
}

.nav {
    background-color: #999;
    overflow: hidden;
    padding-top: 25px;
    padding-bottom: 20px;
    white-space: nowrap;
    width: 100%;
    height: 25px;
}

.nav a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #CCCCCC;
    color: white;
    margin-right: 10px;
}

.nav .active {
    background-color: black;
}

.title {
    margin-left: 20px;
    font-size: 1.5pc;
    margin-top: -30px ;
    width: 10%;
}


.gallery {
    margin-top: 10px;
    width: 100%;
    text-align : center;
    overflow: visible;
}

.main-img {
    width: 92%;
    height: 200px;    
}

.gallery-img {
    width: 30.52%;
    height: 88px;    
}

.main-content {   
    overflow: hidden;
    margin: 2% 4%
}

.left-column {
    display: block;
    width: 49%;
    float: left;
    overflow: hidden;
    clear:both;
    font-size: 1.5vw;
    text-align: center;
    background-color: rgba(247, 233, 215, 0.87);
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    height: 1140px;
}

.left-img {
    width: 20%;
    height: 100px;
}

.left-text {
    width: 49%;
    display: inline;
    vertical-align:top;
    text-align: justify;
}

.right-column {
    width: 47%;
    float: right;
    overflow: hidden;
    font-size: 1vw;
}

.card {
    display: block;
    overflow: hidden;
    padding: 2%;
    margin-bottom: 2%;
    border: solid thin grey;
}

.card-image {
    width: 50%;
    height: 250px;    
    float: right;
}

.right-text {
    width: 49%;
    display: inline;
    float: left;
    vertical-align:bottom;
    text-align: justify;
}

.fio {
    vertical-align: 75%;
    font-size: 25px;
    float: left;
    white-space: nowrap;
    margin-left: 10px;
}
        
.mail {
   
    padding-top: 20px;
    display: inline-block;
    height: 50px;
    width: 100%;   
    background-color: #CCCCCC;
}
  
.contacts {
    font-size:25px;
    vertical-align: 75%;
    float: right;
    margin-right: 10px;
}

.contacts a {
    text-decoration: none;
    color: black;
}

.contacts a:hover {
    color: rgb(0, 38, 255);
}