extends template

block content
  - var content = {
  -   title: '"Собачье сердце" Михаил Булгаков',
  -   imageSrc: require("./4.jpg"),
  -   imageAlt: 'Собачье сердце',
  -   paragraphs: [
  -     'Собачье сердце — это одно из самых значимых произведений Михаила Булгакова, написанное в 1925 году, но опубликованное лишь спустя много лет. Эта сатирическая повесть повествует о смелом эксперименте профессора Преображенского, который пересаживает человеку части собаки, что приводит к неожиданным и зачастую комическим последствиям.',
  -     'История начинается с описания жизни бездомного пса Шарика, который становится объектом эксперимента. После операции Шарик превращается в человека, но его поведение и привычки остаются животными, что вызывает множество проблем и ставит под сомнение возможность "перевоспитания" природных инстинктов через научное вмешательство. Образ Шарикова — это не просто сатирический персонаж, но и метафора на "новых людей" советской эпохи, которые, не имея должного воспитания и культурного уровня, начинают занимать важные позиции в обществе.',
  -     'Булгаков с тонким юмором и иронией показывает противоречия новой власти, критикует насильственные преобразования и уравнительство, которые лишают человека его внутренней свободы и культурной идентичности. Профессор Преображенский — воплощение интеллигенции, которая пытается защитить свои ценности и знания от разрушительных нововведений.',
  -     'Книга поднимает важные философские и социальные вопросы: о границах науки, морали, человеческой сущности и того, что происходит, когда человек теряет свою человечность. Несмотря на сложные темы, "Собачье сердце" читается легко благодаря остроумным диалогам и живым персонажам.',
  -     'Это произведение актуально и сегодня, потому что ставит вопросы, которые не потеряли своей остроты: о природе человека, морали и ответственности науки перед обществом.'
  -     ]
  - }

  p.class__title
    strong= content.title
  p.class__image
    img(src=content.imageSrc, alt=content.imageAlt)
  each paragraph in content.paragraphs
    p.class__paragraph= paragraph
